
<%- include ('header'); -%>


<main class="main_catalogue">
    <ul class = "menu_gauche">
        <li><img src="./img/tapis_roulant.png">Tapis de course</li>
        <li><img src="./img/velo.png">Vélo d'appartement</li>
        <li><img src="./img/altere.png">Musculation</li>
        <li><img src="./img/balles.png">Accessoires</li>
        <li><img src="./img/chaussures.png">Fitness</li>
        <li><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </li>
    </ul>

    <div id="div_equipements">
        <div class="produit_test"></div>
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
    </div>
</main>

        



<script>
    
    /*let produits=<
    


const detProduits = document.getElementById('div_equipements');

for (let equipments of produits) {
    const equipArt = document.createElement('article');
    detProduits.append(equipArt);

    const titleH3 = document.createElement('h3');
    titleH3.innerText = equipments.type;
    equipArt.append(titleH3);
    
    const para = document.createElement('p');
    para.innerText = equipments.description;
    para.classList.add('desc-equipment');
    equipArt.append(para);

   
}*/

</script>

<%- include ('footer'); -%>

