
<%- include ('header'); -%>


<main class="main_catalogue">
    <div class = "menu_gauche">
        <ul>
        <li><img src="">Tapis de course</li>
        <li><img src="">Vélo d'appartement</li>
        <li><img src="">Appareil de musculation</li>
        <li><img src="">Accessoires</li>
        <li><img src="">Fitness</li>
        </ul>
</div>
    <div id="div_equipements">
        <div class="produit_test"></div>
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
        <div class="produit_test"></div> 
    </div>
</main>

        



<script>
    
    /*let produits=<
    


const detProduits = document.getElementById('div_equipements');

for (let equipments of produits) {
    const equipArt = document.createElement('article');
    detProduits.append(equipArt);

    const titleH3 = document.createElement('h3');
    titleH3.innerText = equipments.type;
    equipArt.append(titleH3);
    
    const para = document.createElement('p');
    para.innerText = equipments.description;
    para.classList.add('desc-equipment');
    equipArt.append(para);

   
}*/

</script>

<%- include ('footer'); -%>

