<script src="header.ejs"></script>

<footer>
    <p id="promo">Trouvez votre équipement sportif de qualité dans notre boutique de location en ligne avec notre sélection de
        vêtements de sport </br>pour hommes et femmes comprenant des vêtements de fitness, de running, de crossfit et de
        musculation, ainsi que des vêtements </br>de yoga, indispensables pour une expérience sportive optimale.</p>
        <img src="./img/paiement.png" alt="images de cartes">
</footer>

</body>

</html>