<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./css/caroussel.css" type="text/css">
    <link rel="stylesheet" href="./css/accueil.css" type="text/css">
    <link rel="stylesheet" href="./css/catalogue.css" type="text/css">
    <link rel="stylesheet" href="./css/footer.css" type="text/css">
    <link rel="stylesheet" href="./css/menu.css" type="text/css">
    <link rel="stylesheet" href="./css/connexion.css" type="text/css">
    <link rel="stylesheet" href="./css/new_produit.css">
    <title>Document</title>
</head>
<body>
        <ul class="menu">
            <img href = "index.ejs" src="./img/logo_locfit.png" alt="logo">
            <% if (typeof role !== 'undefined' && role !== 'client' && role !== 'agent') { %>
                <li><a href="creation_agent">Ajouter un Agent</a></li>
              <% } else { %>
               <% console.log("Erreur :");%>
              <% } %>

            <li></li>
            <li><a id="bouton_noir" href = "inscription">S’inscrire</a><a href = "informations">Mes infos</a><a href = "login">Se Déconnecter</a></li>
            <li></li>

        </ul> 
