<%- include ('header'); -%>

<main>
  <img class="img_accueil" src="./img/premier.jpg" alt="Chaussures de sport" />
      
  <div class="button-container">
        <img src="/img/raquette.png" alt="raquette de tennis" class="img">
      <a href="catalogue"><button class="b">Nos Produits</button></a>
      </div>

</main>

<%- include ('footer'); -%>

</body>

</html>