

<%- include ('header'); -%>

<main>
    <h1>Bienvenue sur LocFit</h1>
    <% user.forEach(function(element){ %>
        <%= element.login %>
    <%});%>
    
    <div class="carroussel">
        <a class="bouton_catalogue" href="#">
            Catalogue
        </a>
    </div>
</main>

<%- include ('footer'); -%>
