<link rel="stylesheet" href="./css/connexion.css" type="text/css">

<main>
    <p><%= error %></p>
    <%- include ('header'); -%>

<form class="formulaire" action="/informations" method="post">
    <h1>Mes identifiants</h1>
        <label for="" ></label>
        <input class="zone_text" placeholder="<%= nom %>" type="login" name="login"/>

        <label for="" ></label>
        <input class="zone_text" placeholder="<%= mail %>" type="email" name="email"/>

        <label for="" ></label>
        <input class="zone_text" placeholder="Changer mon mot de passe" type="password" name="password"/>
        <button id="validation" type="submit">Confirmer mes changements</button>
    </form>