
    <form id="monFormulaire" method="post">
        <label for="pseudo" ></label>
        <input id="identifiant" placeholder="Votre identifiant" type="text" name="login"/>

        <label for="password" ></label>
        <input id="mdp" placeholder="Votre mot de passe" type="password" name="password"/>

      
        <button id="envoie" type="submit">Valider</button>
    </form>