<%= error %>
    <%- include ('header'); -%>

    <form class="formulaire" method="post">
        <label for="pseudo" ></label>
        <input class="zone_text" placeholder="Votre identifiant" type="text" name="login"/>

        <label for="password" ></label>
        <input class="zone_text" placeholder="Votre mot de passe" type="text" name="password"/>

        <label for="lastname" ></label>
        <input class="zone_text" placeholder="Votre nom" type="text" name="lastname"/>

        <label for="prenom" ></label>
        <input class="zone_text" placeholder="Votre prénom" type="text" name="prenom"/>

        <label for="naissance" ></label>
        <input class="zone_text" placeholder="Votre date de naissance" type="date" required pattern="\d{4}-\d{2}-\d{2}" name="ddn"/>

        <label for="mail" ></label>
        <input class="zone_text" placeholder="Votre email" type="email" name="mail"/>

      
        <button class="validation" type="submit">Valider</button>
    </form>