<link rel="stylesheet" href="./css/connexion.css" type="text/css">

<main>
    <p><%= error %></p>
    <%- include ('header'); -%>

    <form class="formulaire" action="/login" method="post">
        <label for="" ></label>
        <input class="zone_text" placeholder="Votre identifiant" type="text" name="login"/>
        <label for="" ></label>
        <input class="zone_text" placeholder="Votre mot de passe" type="password" name="password"/>
        <button id="validation" type="submit">Valider</button>
    </form>

</main>

