<%- include ('header'); -%>


<main class="main_catalogue">

    <div class="upload-container">
        <h2>Uploader une image</h2>
        <input type="file" id="imageInput" accept="image/*">
        <br><br>
        <button onclick="previewImage()">Prévisualiser</button>
        <br><br>
        <img id="imagePreview" alt="Prévisualisation de l'image">
    </div>
    
    <script>
        
    // On importe le module sharp (il faut l'avoir installé avant)
    
    
    /*
    * Le module sharp permet le traitement d'image, et la fonction tint() permet de modifier les couleurs
    */
    
    
    </script>
    </div>

</main>

<%- include ('footer'); -%>