body{
    background-color: #F8EFDD;
}

.formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 640px;
    margin-left: 29%;
    margin-top: 10%;
}

.zone_text{
    height: 85px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-size: 2em;
}

#validation{
    height: 85px;
    border-radius: 50px;
    font-size: 2em;
    cursor: pointer;
    background-color: #F7D660;
}

#validation:hover {
    background-color: #e7d38d;
}