
/*menu du haut*/


header{
    height: 1px;
    width: 100%;
    background-color: rgb(243, 190, 58);
    margin:0;
    margin-bottom:300px;
    overflow-x: hidden;
    overflow: auto;
}

.menu{
    align-items: center;
    display:flex;
    background-color: rgb(243, 190, 58);
    list-style-type: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.menu img {
    width: 20%;
}

 .menu a{
    text-decoration: none;
    margin-left:20px;
    color:black;
    background-color: white;
    padding: 15px 20px;
    border-radius: 3px;
    font-size:20px;
}

#bouton_noir{
    background-color: black;
    color:white;
    padding: 15px 20px;
    border-radius: 3px;
    margin-left:800px;
    font-size:20px;

}


/*menu sur le coté*/

.menu_gauche{
    /*align-items: center;*/
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    width:20%;
}

.menu_gauche img {
    width: 20%;
    padding-right:10px;

}

 .menu_gauche li{
    list-style-type: none;
    background-color:#f7e6c5;
    text-decoration: none;
    color:black;
    padding: 15px 20px;
    border-radius: 3px;
    font-size:15px;
}
