.upload-container {
    border: 2px dashed #ccc;
    padding: 20px;
    height: 200px;
    width: 300px;
    margin: 150px 500px ;
    background-color: #f9f9f9;
}

.upload-container img {
    max-width: 100%;
    height: auto;
    display: none;
    margin-top: 20px;
}